* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: auto;
    padding: 3rem 5rem 3rem 5rem;
    width: 85%;
    color: rgb(255, 251, 246);
    background: rgb(47, 66, 100);
}
input {
    border-radius: 0.3rem;
    border: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    align-items: center;
    text-align: start;
    width: 30%;
    font-size: 0.95rem;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
}
button {
    line-height: 1.25;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color:rgb(14, 94, 14);
    border-color: rgb(14, 94, 14);
    color: white
}
button:hover {
    transform: scale(1.05);
}
.title {
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
}
.clearVowel,
.clearDegree,
.clearEleminate {
    color: white;
    background-color: rgb(214, 78, 54);
    border-color: rgb(214, 78, 54);
}
.result {
    margin: 2.5rem 0;
    line-height: 2.5rem;
}
.func-block {
    background-color: white;
    color: black;
    padding: 1rem 3rem;
    margin-bottom: 2.5rem;
    border-radius:0.5rem
}