body {
    background-color: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: blue;
}

p {
    background-color: yellow;
}

input {
    border-color: red;
    border-width: 3px;
    border-style: solid;
}

.hello {
    background-color: white;
}

#special {
    border-style: solid;
    border-width: 2px;
    border-color: green;
}

div p {
    font-size: 25;
}

input[type="text"] {
    background-color: grey;
}

div:nth-of-type(3) p {
    background-color: pink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

div:nth-of-type(3) em {
    background-color: white;
    font-size: 20px;
}

input[type="checkbox"]:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase; 
}

#special::first-letter {
    font-size: 100px;
    color: green;
}

h1:hover {
    color: red;
}

a:visited {
    color: green;
}